# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# Environment
.env
*.env

/venv/

# VS Code
.vscode/

# MacOS
.DS_Store

# Node (if using for frontend assets)
node_modules/

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test output
nosetests.xml
coverage.xml
*.cover
*.log
*.out

# Other
*.swp
*.swo
.idea/
*.bak