asgiref==3.9.1
Django==5.2.6
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
environs==14.3.0
marshmallow==4.0.1
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-dotenv==1.1.1
sqlparse==0.5.3
channels==4.2.0
channels_redis==4.2.1
uvicorn==0.38.0
websockets==15.0.1
